* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
  text-align: center;
}

.hidden {
  display: none;
}

#start-screen {
  padding: 30px;
}

#start-btn {
  margin-top: 30px;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #ff6fae;
  color: #fff;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#card-container {
  position: relative;
  width: 80%;
  max-width: 320px;
  margin: 0 auto;
}

.card {
  width: 100%;
  border-radius: 20px;
  touch-action: none;
  transition: transform 0.2s ease;
}

#send-btn {
  margin: 30px auto 0;
  padding: 14px 24px;
  font-size: 18px;
  border-radius: 14px;
  border: none;
  background: #ff6fae;
  color: white;
}
